header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.burger__list-item {
  margin-bottom: 30px;
  color: #D52A20;
  font-size: 25px;
}

.header {
  height: calc(60px + 40 * ((100vw - 320px) / 930));
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__logo img {
  width: calc(140px + 75 * ((100vw - 320px) / 930));
}

.header__list-item {
  padding-top: calc(10px + 10 * ((100vw - 320px) / 930));
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 930));
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__close {
  margin-bottom: calc(30px + 60 * ((100vw - 320px) / 930));
}

.last-item {
  color: #fff;
  font-weight: 500;
  position: relative;
}

.last-item:after {
  content: "";
  display: block;
  width: 170px;
  position: absolute;
  top: 45px;
  height: 2px;
  background-color: #fff;
}

.header .initial__btn {
  background: -webkit-gradient(linear, left top, right top, from(#074D88), to(#61B3C9));
  background: -o-linear-gradient(left, #074D88 0%, #61B3C9 100%);
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: calc(80px + 40 * ((100vw - 320px) / 930));
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 930));
}

.burger__social-networks {
  gap: 10px;
}

.social-networks__wr {
  background-color: #fff;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: "Montserrat";
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1250px;
  padding-left: calc(10px + 10 * ((100vw - 320px) / 930));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 930));
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.header__burger {
  z-index: 9;
  position: relative;
  display: block;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  position: relative;
}

.header__burger:after {
  content: "";
  display: block;
  background-color: #212733;
  border-radius: 100px;
  width: 25px;
  height: 3px;
  position: absolute;
  top: 18px;
  right: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__burger:before {
  content: "";
  display: block;
  background-color: #212733;
  border-radius: 100px;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 10px;
  right: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__burger span:after {
  content: "";
  display: block;
  background-color: #212733;
  border-radius: 100px;
  width: 16px;
  height: 3px;
  position: absolute;
  top: 26px;
  right: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.burger__open {
  padding-top: calc(20px + 30 * ((100vw - 320px) / 930));
  padding-left: calc(30px + 55 * ((100vw - 320px) / 930));
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: 40vw;
  height: 100vh;
  background: #191A1E;
  overflow: auto;
  color: #fff;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: inline-block;
}

.burger__close {
  position: relative;
  width: 40px;
  height: 40px;
}

.burger__close:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 100px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.burger__close:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 100px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.no-webp .initial {
  background: url("../img/initial.jpg") center 30%/cover no-repeat; }

.initial {
  padding-top: calc(100px + 100 * ((100vw - 320px) / 930));
  padding-bottom: calc(240px + 290 * ((100vw - 320px) / 930));
}

.initial__title {
  font-weight: 400;
  font-size: calc(27px + 47 * ((100vw - 320px) / 930));
  line-height: 120%;
  margin-bottom: 20px;
}

.initial__p {
  font-size: calc(16px + 2 * ((100vw - 320px) / 930));
  margin-bottom: calc(30px + 30 * ((100vw - 320px) / 930));
}

.initial__btn {
  gap: calc(15px + 30 * ((100vw - 320px) / 930));
  border: 1px solid #000;
  padding-top: calc(10px + 10 * ((100vw - 320px) / 930));
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 930));
  padding-left: calc(10px + 10 * ((100vw - 320px) / 930));
  padding-right: calc(10px + 10 * ((100vw - 320px) / 930));
}

.no-webp .eror404 {
  background: url("@img/error404.jpg") 50%/cover no-repeat; }

.eror404 {
  height: 100vh;
  color: #fff;
}

.eror404 .initial__btn {
  border: 1px solid #fff;
}

.eror404__title {
  font-size: calc(70px + 74 * ((100vw - 320px) / 930));
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 930));
  line-height: 120%;
}

.eror404__p {
  font-size: calc(20px + 28 * ((100vw - 320px) / 930));
  max-width: 700px;
  margin-bottom: calc(40px + 40 * ((100vw - 320px) / 930));
}

@media (max-width: 767px) {
  .burger__open {
    width: 320px;
  }
}

@media (max-width: 575px) {
  .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }
}

@media (max-width: 420px) {
  .burger__open {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .header__list-item:hover {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #E25E5E;
  }

  .social-networks__wr:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-color: rgb(196, 187, 187);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  .burger__close:hover {
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
  }

  .burger__close:hover:after,
  .burger__close:hover:before {
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
    background: red;
  }
}

.webp .initial { background: url(../img/initial.webp) center 30%/cover no-repeat; }

.webp .eror404 { background: url(@img/error404.webp) 50%/cover no-repeat; }